{% extends 'base.html'%}
{% load static %}
{% block title %}Home{% endblock title%}


{% block banner_slider%}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{%static '\images\banner\b1.jpg'%}" class="d-block w-100" alt="banner images">
    </div>
    <div class="carousel-item ">
      <img src="{%static '\images\banner\b2.jpg'%}" class="d-block w-100" alt="banner images">
    </div>
    <div class="carousel-item ">
      <img src="{%static '\images\banner\b3.jpg'%}" class="d-block w-100" alt="banner images">
    </div>
    <div class="carousel-item ">
      <img src="{%static '\images\banner\b4.jpg'%}" class="d-block w-100" alt="banner images">
    </div>
  </div>
</div>

{% endblock banner_slider%}

{% block information %}


<div class="container">
  <div class="row bg-success text-center p-5 text-white border-bottom shadow">
    <h1>Products</h1>
    <small class="fs-5">Double offers a wide range of products in both liquid Milk and by-product categoreis.
      the liquid milk compries of 5 types of varients and by-product compries of 14 types of varients.
      Dodla offers a wide range of milk product compresing of freash milk,
      Butter,Ghee,Paneer,Curd,Flavoured Milk,Doodh Peda,
      Ice Cream And Skimed Milk Powder
    </small>
  </div>
</div>


{% endblock information %}
{% block main-content %}


<div class="container">
  <h2 class="text-center"> diary Products</h2>
  <br></br>
  <div class="row container">

    <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="15" data-wow-delay="0.65"
      style="animation-duration: is; animation-delay: 0.65;  animation-name: none;">
      <div class="goodnessec buttermilk smbg">
        <a href="{% url 'category' 'GH' %}">
          <div class="goodnessseccont text-center">
            <img src="{% static '\images\product\buffalo-ghee.png' %}"
             class="img-responsive center-block" alt="">
            <p class="mlkpro">Ghee</p>
          </div>
        </a>
      </div>
    </div>



    <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="15" data-wow-delay="0.65"
      style="animation-duration: is; animation-delay: 0.65;  animation-name: none;">
      <div class="goodnessec buttermilk curdbgpro">
        <a href="{% url 'category' 'CR' %}">
          <div class="goodnessseccont text-center">
            <img src="{% static '\images\product\curd-total.png' %}" class="img-responsive center-block" alt="">
            <p class="mlkpro">Curd</p>
          </div>
        </a>
      </div>
    </div>



    <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="15" data-wow-delay="0.65"
      style="animation-duration: is; animation-delay: 0.65;  animation-name: none;">
      <div class="goodnessec buttermilk buttermilk">
        <a href="{% url 'category' 'IC' %}">
          <div class="goodnessseccont text-center">
            <img src="{% static '\images\product\kulfi.png' %}" class="img-responsive center-block" alt="">
            <p class="mlkpro">IceCreams</p>
          </div>
        </a>
      </div>
    </div>


  </div>

  <div class="row container">

    <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="15" data-wow-delay="0.65"
      style="animation-duration: is; animation-delay: 0.65;  animation-name: none;">
      <div class="goodnessec buttermilk smbg">
        <a href="{% url 'category' 'MS' %}">
          <div class="goodnessseccont text-center">
            <img src="{% static '\images\product\milk-shake-chocolate.png' %}"
             class="img-responsive center-block" alt="">
            <p class="mlkpro">MilkShake</p>
          </div>
        </a>
      </div>
    </div>



    <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="15" data-wow-delay="0.65"
      style="animation-duration: is; animation-delay: 0.65;  animation-name: none;">
      <div class="goodnessec buttermilk curdbgpro">
        <a href="{% url 'category' 'ML' %}">
          <div class="goodnessseccont text-center">
            <img src="{% static '\images\product\cow-milk.png' %}" class="img-responsive center-block" alt="">
            <p class="mlkpro">Milk-</p>
          </div>
        </a>
      </div>
    </div>



    <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="15" data-wow-delay="0.65"
      style="animation-duration: is; animation-delay: 0.65;  animation-name: none;">
      <div class="goodnessec buttermilk buttermilk">
        <a href="{% url 'category' 'IC' %}">
          <div class="goodnessseccont text-center">
            <img src="{% static '\images\product\icbars.png' %}" class="img-responsive center-block" alt="">
            <p class="mlkpro">IceCream</p>
          </div>
        </a>
      </div>
    </div>


  </div>
</div>
<br></br>

{% endblock main-content %}